/.bundle

/log/*
!/log/.keep
/tmp
/vendor/assets/*

public/assets/*
public/system/*
public/uploads/*

*.sqlite3

node_modules
.DS_Store
coverage
coverage-public
coverage-amd
.vscode

config/puma.rb
/shared
*.rdb
